<div class="container is-fluid">

  <div>Productos</div>

  <div class="columns is-multiline">
    <div class="column" *ngFor="let product of products; let i=index">
      <div class="card" (click)="addProductToCart(product)">
        <header class="card-header">
          <p class="card-header-title">
            {{product.name}}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            {{product.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container is-fluid">
  <h1 class="title">Carrito de Compras</h1>
  

</div>
